.home {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: none;
}
.home .title {
  text-align: left;
  font-size: 23px;
  font-weight: 400;
}
.home .title strong {
  display: block;
  font-family: 'AppleSDGothicEB';
}
.home .icon {
  width: 30px; height: 30px;
}
.home .icon img {
  width: 100%;
}

.mainImg {
  width: 100%;
  padding-bottom: 15px;
}

