section {
  width: 100%;
  padding-bottom: 20px;
}
section .ticket {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #222;
  padding: 20px 10px;
}
section .ticket .title a {
  font-family: var(--font-EB);
  font-size: 23px;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
section .ticket .title a::before {
  content: "";
  background: url(../assets/images/back.png) no-repeat 50% / contain;
  width: 30px; height: 30px;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
}

section .ticketList {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  justify-content: center;
  font-size: 16px;
  width: 100%; height: 40px;
  line-height: 40px;
  margin-top: 23px;
}
section .ticketList .ticketBtn {
  border: 1px solid #222;
  background-color: #fff;
}
section .ticketList .ticketBtn:nth-child(3) {
  background-color: #222;
  color: #fff;
}
section .ticketList .ticketBtn:nth-child(2) {
  border-right: none;
  border-left: none;
}

.completeTextBox {
  padding: 50px 0 25px;
  border-bottom: 1px solid #D9D9D9;
}
.completeTextBox .completeTitle {
  font-size: 22px;
  font-family: var(--font-EB);
  margin-bottom: 20px;
}
.completeTextBox .completeDesc:first-of-type {
  font-size: 16px;
  margin-bottom: 20px;
}
.completeTextBox .completeDesc:last-of-type {
  font-size: 14px;
}

.reservationCheck {
  font-size: 14px;
  padding: 14px 20px 44px;
}
.reservationCheck .reservationNum {
  text-decoration: underline;
  text-align: right;
}
.reservationCheck .flexBox {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 20px;
}
.reservationCheck .flexBox img {
  width: 100%;
}
.reservationCheck .flexBox .textBox {
  text-align: left;
  padding-left: 20px;
  align-self: center;
}
.reservationCheck .flexBox .textBox .completeTitle {
  font-size: 16px;
  font-family: var(--font-EB);
  margin-bottom: 18px;
}
.reservationCheck .flexBox .textBox .completeDate {
  margin-bottom: 10px;
}
.reservationCheck .flexBox .textBox .completePersonnel {
  margin-bottom: 10px;
}

.reservationBtn {
  margin-top: 44px;
  width: 100%; height: 50px;
  line-height: 50px;
  display: block;
  background-color: #222;
  color: #fff;
  cursor: auto;
}
.reservationBtn p {
  font-size: 14px;
}